body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**********************************************************************************
                                   Header                                        */
header {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /**********************************************************************************
                                Navigation                                        */
  /**********************************************************************************
                                Header Banner                                        */
}

header nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 10px;
}

header nav .container .nav-brand img {
  height: 40px;
}

header nav .container .nav-items ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

header nav .container .nav-items ul li {
  margin-right: 30px;
}

header nav .container .nav-items ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
}

header nav .container .nav-items ul li button {
  border: 0;
  color: #FFFFFF;
  font-weight: bold;
  padding: 8px 20px;
  background-image: linear-gradient(45deg, #4289FF 0%, #07F8C3 100%);
  border-radius: 20px;
}

header nav .container .nav-items ul li i {
  background-image: linear-gradient(45deg, #4289FF 0%, #07F8C3 100%);
  color: #FFFFFF;
  font-size: 24px;
  padding: 8px;
  border-radius: 20px;
}

header .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

header .container .row div h1 {
  font-size: 60px;
  font-weight: 700;
}

header .container .row div p {
  font-size: 18px;
  font-weight: 500;
}

/**********************************************************************************
                            Feature Section 1                                     */
.feature-1 {
  background-image: url("../images/features-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-1 .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-1 .container .row .section-title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
  text-align: center;
}

.feature-1 .container .row .section-title::after {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  content: "";
  display: block;
  width: 130px;
  border-top: 7px solid #FFAF2A;
  border-radius: 5px;
}

.feature-1 .container .row .left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.feature-1 .container .row .left div .image img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.feature-1 .container .row .left div .text {
  display: block;
}

.feature-1 .container .row .left div .text p {
  color: #575757;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */