@import "partials/color";
@import "partials/mixins";


body{
    @include noMarginPadding;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}





/**********************************************************************************
                                   Header                                        */
header{
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;    
    
    /**********************************************************************************
                                Navigation                                        */
    nav{    
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px 10px;
        
            .nav-brand{
                img{
                    height: 40px;
                }
            }
            .nav-items{
                ul{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    li{
                        margin-right: 30px;
                        a{
                            text-decoration: none;
                            color: $textLight;
                            font-weight: 600;
                            font-size: 18px;
                        }
                        button{
                        border: 0;
                        color: $textLight;
                        font-weight: bold;
                        padding: 8px 20px;
                        background-image: $skyGradient; 
                        border-radius: 20px;
                        }
                        i{
                            background-image: $skyGradient;
                            color: $textLight;
                            font-size: 24px;
                            padding: 8px; 
                            border-radius: 20px;
                        }
                    }
                }
            }
        }   
    }  

    
    /**********************************************************************************
                                Header Banner                                        */
    .container{
        .row{
            display: flex;
            align-items: center;
            color: $textLight;
            div{
                h1{
                    font-size: 60px;
                    font-weight: 700;
                }
                p{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}



/**********************************************************************************
                            Feature Section 1                                     */
.feature-1{
    background-image: url('../images/features-1.png');
    background-repeat: no-repeat;
    background-size: cover;  
    .container{
        .row{
            display: flex;
            align-items: center;
            .section-title{
                margin-top: 100px;
                margin-bottom: 50px;
                font-size: 40px;
                text-align: center;
    
                &::after{
                    margin-right: auto;
                    margin-left: auto;    
                    margin-top: 15px;   
                    content:"";    
                    display: block;                    
                    width: 130px;        
                    border-top: 7px solid #FFAF2A;
                    border-radius: 5px;
                }
            }
    
            .left{
                div{
                    display: flex;
                    margin-bottom: 35px;
                    .image{
                        img{
                            width: 80px;
                            height: 80px;
                            margin-right: 15px;
                        }
                    }
                    .text{
                        display: block;
                        p{
                            color: $textGray;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}



/**********************************************************************************
                            Feature Section 1                                     */
.feature-1{
    background-image: url('../images/features-1.png');
    background-repeat: no-repeat;
    background-size: cover;  
    .container{
        .row{
            display: flex;
            align-items: center;
            .section-title{
                margin-top: 100px;
                margin-bottom: 50px;
                font-size: 40px;
                text-align: center;
    
                &::after{
                    margin-right: auto;
                    margin-left: auto;    
                    margin-top: 15px;   
                    content:"";    
                    display: block;                    
                    width: 130px;        
                    border-top: 7px solid #FFAF2A;
                    border-radius: 5px;
                }
            }
    
            .left{
                div{
                    display: flex;
                    margin-bottom: 35px;
                    .image{
                        img{
                            width: 80px;
                            height: 80px;
                            margin-right: 15px;
                        }
                    }
                    .text{
                        display: block;
                        p{
                            color: $textGray;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}




/**********************************************************************************
                            Feature Section 2                                     */
.feature-2{
    background-image: url('../images/features-2.png');
    background-repeat: no-repeat;
    background-size:cover;    
    .container{
        height: 100%;
        .row{ 
            height: 100%;
            padding: 80px 10px; 
            display: flex;
            align-items: center;          
           .left{
                             
           }  
           .right{
            div{
                display: flex;
                margin-bottom: 35px;
                .image{
                    img{
                        width: 80px;
                        height: 80px;
                        margin-right: 15px;
                    }
                }
                .text{
                    display: block;
                    p{
                        color: $textGray;
                        font-size: 18px;
                    }
                }
            }
           }
        }
    }
}